<div style="float: right; padding-top: 10px; padding-bottom: 10px;">
    <button mat-button (click)="onReceivingGoods()"><span class="material-icons">add_circle_outline</span>Receive Goods</button>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table p-3">
    <thead>
        <tr>
            <th>Date Received</th>
            <th>Crop Name</th>
            <th>Amount (MT)</th>
            <th>Price</th>
            <th>Origin(council)</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let stock of stocks">
            <td>{{stock.received_date}}</td>
            <td>{{stock.crop}}</td>
            <td>{{stock.received_amount}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.district}}</td>
            <td style="display: flex; flex-direction: row;">
                <mat-icon class="text-success act" (click)="editStock(stock.id, stock.region.id)">update</mat-icon>
                <mat-icon class="text-danger act" (click)="deleteStock(stock.id)">delete_forever</mat-icon>
            </td>
        </tr>
    </tbody>
</table>