.ware {
    height: 89vh;
    padding-top: 10px;
}

hr.divider-1 {
    background-color: #385623;
    margin: 0;
}

hr.divider-2 {
    background-color: #F8D7DA;
    margin: 0;
}

h4 {
    margin-bottom: 0;
}

hr.divider-3 {
    background-color: #FFE699;
    margin: 0;
    border-width: 2px;
}

hr.divider-4 {
    background-color: #BDD7EE;
    margin: 0;
    border-width: 2px;
}

.button button {
    background-color: #E2E6EA;
    color: #000;
    line-height: 18px;
    height: auto;
    width: auto;
    padding: 3px;
}

.location {
    background-color: #545454;
    height: 35vh;
}

.capacity {
    background-color: #545454;
    height: 25vh;
}

.right {
    background-color: #fff;
    height: 35vh;
}

.grade {
    background-color: #545454;
    height: 20vh;
}

.ownership {
    background-color: #545454;
    height: 20vh;
}

.bottoml {
    background-color: #fff;
    height: 38vh;
}

.bottomc {
    background-color: #fff;
    height: 30vh;
}

.ownershipreg {
    background-color: #545454;
    height: 30vh;
}

.col-md-4 {
    padding-right: 3px;
    padding-left: 3px;
}

.cont {
    height: 40vh;
    overflow: auto;
}

.cont-1 {
    height: 35vh;
    overflow: auto;
}

.mikoa {
    background-color: #FFE699;
    margin-top: 5px;
    color: black;
    line-height: 28px;
    height: auto;
    width: auto;
    border: thin solid rgb(204, 201, 201);
    border-radius: 5%;
}

.wilaya {
    background-color: #BDD7EE;
    margin-top: 5px;
    color: black;
    line-height: 28px;
    height: auto;
    width: auto;
    border: thin solid gray;
}

.bg {
    background-color: #385623;
    color: #fff;
}

.neutral {
    background-color: #C6E0B4 !important;
}


/* .gvt {
    background-color: #fff !important;
} */

.gvt:hover {
    background-color: #FFE699 !important;
}

.prt:hover {
    background-color: #FFE699 !important;
}


/* .prt {
    background-color: #fff !important;
} */

.normal {
    background-color: #F8CBAD !important;
}

.yes:hover {
    background-color: #FFE699 !important;
}

.no:hover {
    background-color: #FFE699 !important;
}