.ware {
    height: 89vh;
    padding-top: 1px;
}

.side {
    background-color: hsl(0, 0%, 100%);
}

hr.divider-1 {
    background-color: green;
    margin-top: 0;
    margin-bottom: 3px;
}

hr.divider-2 {
    background-color: #F8D7DA;
    margin: 0;
}

h4 {
    margin-bottom: 0;
}

hr.divider-3 {
    background-color: #FFE699;
    margin: 0;
    border-width: 2px;
}

hr.divider-4 {
    background-color: #BDD7EE;
    margin: 0;
    border-width: 2px;
}

.button button {
    background-color: #E2E6EA;
    color: #000;
    line-height: 18px;
    height: auto;
    width: auto;
    padding: 3px;
}

.location {
    background-image: linear-gradient(to right, #2E2E2E, #3B3B3B, #4E4E4E, #595959, #595959, #4E4E4E, #3B3B3B, #2E2E2E);
    height: 35vh;
}

.capacity {
    background-image: linear-gradient(to right, #2E2E2E, #3B3B3B, #4E4E4E, #595959, #595959, #4E4E4E, #3B3B3B, #2E2E2E);
    height: 17vh;
    margin-bottom: 7px;
}

.capacity_grade {
    background-image: linear-gradient(to right, #2E2E2E, #3B3B3B, #4E4E4E, #595959, #595959, #4E4E4E, #3B3B3B, #2E2E2E);
    height: 17vh;
}

.right {
    background-color: #fff;
    height: 35vh;
}

.grade {
    background-image: linear-gradient(to right, #2E2E2E, #3B3B3B, #4E4E4E, #595959, #595959, #4E4E4E, #3B3B3B, #2E2E2E);
    height: 40vh;
}

.ownership {
    /* background-color: #545454; */
    background-image: linear-gradient(to right, #2E2E2E, #3B3B3B, #4E4E4E, #595959, #595959, #4E4E4E, #3B3B3B, #2E2E2E);
    height: 18vh;
}

.map {
    height: 35vh;
}

.bottoml {
    background-color: #fff;
    height: 38vh;
}

.bottomc {
    background-color: #fff;
    height: 30vh;
}

.ownershipreg {
    background-image: linear-gradient(to right, #2E2E2E, #3B3B3B, #4E4E4E, #595959, #595959, #4E4E4E, #3B3B3B, #2E2E2E);
    height: 21vh;
}

.col-md-4 {
    padding-right: 3px;
    padding-left: 3px;
}

.cont {
    height: 40vh;
    overflow: auto;
}

.cont-1 {
    height: 35vh;
    overflow: auto;
}

h2 {
    color: #E9E9E9;
}

.space {
    padding-left: 13px;
    padding-right: 0;
}

.space-2 {
    padding-left: 3px;
    padding-right: 0;
}

.text {
    text-transform: capitalize !important;
}

.card-2 {
    background-color: transparent;
    height: 100%;
}