<form *ngIf="data.action == 'add'" [formGroup]="cropsForm" (ngSubmit)="onSubmit()">
    <div class="title-holder">
        <h2 class="title">Add Crop</h2>
    </div>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Crop Name</mat-label>
        <input matInput placeholder="Crop Name" formControlName="name" required>
        <mat-error *ngIf="cropsForm.get('name').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Crop Grade</mat-label>
        <mat-select placeholder="Crop Grade" formControlName="grade" required>
            <mat-option value="Grade 1">Grade 1</mat-option>
            <mat-option value="Grade 2">Grade 2</mat-option>
            <mat-option value="Grade 3">Grade 3</mat-option>
            <mat-option value="Grade 4">Grade 4</mat-option>
        </mat-select>
        <mat-error *ngIf="cropsForm.get('grade').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>


    <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: flex-end;">
        <button (click)="onNoClick()" class="cancelbtn" mat-button>Cancel</button>

        <button type="submit" class="createbtn" mat-button>Submit</button>
    </div>
</form>


<form *ngIf="data.action == 'edit'" [formGroup]="cropsFormEdit" (ngSubmit)="onUpdate()">
    <div class="title-holder">
        <h2 class="title">Edit Crop</h2>
    </div>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Crop Name</mat-label>
        <input matInput placeholder="Crop Name" formControlName="name" required>
        <mat-error *ngIf="cropsFormEdit.get('name').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Crop Grade</mat-label>
        <mat-select placeholder="Crop Grade" formControlName="grade" required>
            <mat-option value="Grade 1">Grade 1</mat-option>
            <mat-option value="Grade 2">Grade 2</mat-option>
            <mat-option value="Grade 3">Grade 3</mat-option>
            <mat-option value="Grade 4">Grade 4</mat-option>
        </mat-select>
        <mat-error *ngIf="cropsFormEdit.get('grade').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: flex-end;">
        <button (click)="onNoClick()" class="cancelbtn" mat-button>Cancel</button>

        <button type="submit" class="createbtn" mat-button>Update</button>
    </div>
</form>
