<div>
    <div class="d-flex justify-content-between head">
        <div>
            <h3>Manage Markets</h3>
        </div>
        <button mat-button (click)="onAddMarket()"><span class="material-icons">add_circle_outline</span>Add Market</button>
    </div>
    <div class="view">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table p-3">
            <thead>
                <tr>
                    <th>market Name</th>
                    <th>Type</th>
                    <th>Region</th>
                    <th>District</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let market of markets">
                    <td>{{market.name}}</td>
                    <td>{{market.type}}</td>
                    <td>{{market.region.name}}</td>
                    <td>{{market.district.name}}</td>
                    <td style="display: flex; flex-direction: row;">
                        <mat-icon class="text-success act" (click)="editMarket(market.id, market.region.id)">update</mat-icon>
                        <mat-icon class="text-danger act" (click)="deleteMarket(market.id)">delete_forever</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
