<form *ngIf="data.action == 'add'" [formGroup]="stockTakingForm" (ngSubmit)="onSubmit()">
    <div class="title-holder">
        <h2 class="title">Add Stock Taking</h2>
    </div>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Warehouse Name</mat-label>
        <mat-select placeholder="Select Warehouse" formControlName="warehouse_id" required>
            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="stockTakingForm.get('warehouse_id').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Crop Name</mat-label>
        <mat-select placeholder="Select Crop" formControlName="crop_id" required>
            <mat-option *ngFor="let crop of crops" [value]="crop.id">{{crop.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="stockTakingForm.get('crop_id').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="Amount" formControlName="amount" required>
        <mat-error *ngIf="stockTakingForm.get('amount').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="col-lg-12 column">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Regions</mat-label>
            <mat-select placeholder="Select Region" formControlName="region_id" required (selectionChange)="getDistricts($event.value)">
                <mat-option *ngFor="let region of regions" [value]="region.id">{{region.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="stockTakingForm.get('region_id').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="col-lg-12 column">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Districts</mat-label>
            <mat-select placeholder="Select District" formControlName="district_id" required>
                <mat-option *ngFor="let district of districts" [value]="district.id">{{district.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="stockTakingForm.get('district_id').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Stock Taking Date (13/1/2001)</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="stockTakingFormEdit.get('date').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: flex-end;">
        <button (click)="onNoClick()" class="cancelbtn" mat-button>Cancel</button>

        <button type="submit" class="createbtn" mat-button>Submit</button>
    </div>
</form>


<form *ngIf="data.action == 'edit'" [formGroup]="stockTakingFormEdit" (ngSubmit)="onUpdate()">
    <div class="title-holder">
        <h2 class="title">Edit Stock Taking</h2>
    </div>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Warehouse Name</mat-label>
        <mat-select placeholder="Select Warehouse" formControlName="warehouse_id" required>
            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="stockTakingFormEdit.get('warehouse_id').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Crop Name</mat-label>
        <mat-select placeholder="Select Crop" formControlName="crop_id" required>
            <mat-option *ngFor="let crop of crops" [value]="crop.id">{{crop.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="stockTakingFormEdit.get('crop_id').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="Amount" formControlName="amount" required>
        <mat-error *ngIf="stockTakingForm.get('amount').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="col-lg-12 column">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Regions</mat-label>
            <mat-select placeholder="Select Region" formControlName="region_id" required (selectionChange)="getDistricts($event.value)">
                <mat-option *ngFor="let region of regions" [value]="region.id">{{region.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="stockTakingFormEdit.get('region_id').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="col-lg-12 column">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Districts</mat-label>
            <mat-select placeholder="Select District" formControlName="district_id" required>
                <mat-option *ngFor="let district of districts" [value]="district.id">{{district.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="stockTakingFormEdit.get('district_id').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="col-lg-12 column">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Stock Taking Date (13/1/2001)</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="stockTakingFormEdit.get('date').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: flex-end;">
        <button (click)="onNoClick()" class="cancelbtn" mat-button>Cancel</button>

        <button type="submit" class="createbtn" mat-button>Submit</button>
    </div>
</form>
